/* GLOBAL STYLES */
body, html {
    font-family: 'Montserrat', sans-serif;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* SERVICES SECTION */
.services-section {
    text-align: center;
    background-color: #f4f4f4;
    border-top: 5px solid #6B6E70;
    padding: 62px 15px 72px 15px;
}

.services-header {
    font-size: 48px;  
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: #307FE2;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 1.5px;
    position: relative;
    text-align: left;
    white-space: nowrap;
}

.services-header span {
    background: linear-gradient(90deg, #307FE2, #1f5bb8);
    -webkit-background-clip: text;
    color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
}

.services-header:hover::after {
    animation: slideIn 0.3s forwards;
}

.services-header::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0;
    background: #1f5bb8;
    transition: width 0.3s;
}

/* SERVICES PORTADA CONTAINER */
.services-portada-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap: 28px;
}

.service-cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 28px;
}

.service-cards-desc {
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    margin-right: 5%;
}

/* SERVICE CARD */
.service-card {
    background: #007ce3d4;
    box-shadow: 5px 5px 15px #aaaaaa, -5px -5px 15px #ffffff;
    border-radius: 21px;
    flex: 1;
    padding: 30px 60px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 15px #aaaaaa, -8px -8px 15px #ffffff;
}

.service-title {
    font-size: 32px;
    font-weight: 800;
    white-space: nowrap;
    padding-bottom: 10px;
    max-width: 400px;
    margin: auto;
    color: white;
}

.service-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    background: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.info-line {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
}

.info-line .info-text {
    text-align: left;
}

.info-line .checkmark {
    font-size: 22px;
    color: #97D700;
    margin-right: 10px;
}

/* BUTTONS */
.learn-more-btn {
    background-color: #307FE2;
    color: #fff;
    border: none;
    border-radius: 55px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
    max-width: 100px;
    height: 25px;  
    line-height: 1.4; 
}

.learn-more-btn:hover {
    background-color: #1f5bb8;
    font-weight: 800;
    text-decoration: none;
    white-space: nowrap;
}

.services-header-text, .description-text {
    line-height: 1.6;
    font-size: 18px;
}
