.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo {
    width: 100%;
    background-color: #307FE2;
    color: white;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    z-index: 1;
    margin: 0;
}

.cleaning-container {
    display: flex;
    width: 100%;
}

.text-and-title {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
}

.text-and-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-bottom: 2%;
}

.text-and-title.duct h1 {
    color: #97D700;
}

.text-and-title.dryer h1 {
    color: #307FE2;
}

.cleaning-text {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 2;
    color: #333333;
    text-align: center;
}

.cleaning-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #307FE2;
    margin-bottom: 1rem;
    text-align: left;
}

.cleaning-text p {
    margin-bottom: 1rem;
}

.cleaning-text ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.cleaning-text ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    color: #333333;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: baseline;
}

.cleaning-text ul li .strong-content {
    color: #97D700;
    margin-right: 0.5rem; /* Spacing between the strong and normal text */
    display: inline-flex; 
    align-items: baseline;
    min-width: 400px;
    justify-content: flex-end;
}

.cleaning-text ul li .li-content {
    display: inline-flex;
    align-items: baseline;
    text-align: left;
}

.cleaning-image {
    flex: 0.5;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 20% 0;
}

.cleaning-image.duct {
    background-image: url('../../../assets/images/medium-shot-people-wearing-helmets.jpg');
}

.cleaning-image.dryer {
    background-image: url('../../../assets/images/hvac-technician-working-capacitor-part-condensing-unit.jpg');
}
