/* Importing styles for react-image-gallery */
@import "~react-image-gallery/styles/css/image-gallery.css";

/* Component Container styles */
.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: auto; 
    background-color: #f4f4f4; 
    padding: 50px;
}

/* Gallery Container styles */
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
    height: auto; 
    background-color: #f4f4f4; 
    padding: 20px; 
    border-radius: 10px; 
}

/* Gallery Title styles */
.gallery-title {
    font-size: 48px;  
    font-weight: 800;
    margin: unset;
    margin-bottom: 20px;
    padding: 0;
    color: #307FE2; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
}

/* Image Gallery main image styles */
.image-gallery-image {
    max-width: 60%; 
    max-height: 60vh; 
    object-fit: cover; 
    border-radius: 15px; 
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}

/* Image Gallery thumbnail container styles */
.image-gallery-thumbnail {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    max-width: 100px; 
    max-height: 75px; 
}

/* Styles for active thumbnail */
.image-gallery-thumbnail.active {
    border: 2px solid #97D700;
}

/* Image Gallery thumbnail image styles */
.image-gallery-thumbnail img {
    max-width: 100px; 
    max-height: 75px; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

/* Styles for navigation icons */
.image-gallery-icon::before {
    color: #97D700; 
    font-size: 2em;
}
