body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 100%;
}

.navbar {
  background-color: #FFFFFF;
  padding: 10px 0;
  border-bottom: 4px solid #307FE2;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.32);
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.navbar {
  padding: 10px 4%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  z-index: 2;
}

.logo img {
  left: 47px;
  top: 10px;
  background: #FFFFFF;
  border-bottom: 2px solid #97D700;
  margin-bottom: -79px;
  border-radius: 0px 0px 10px 10px;
}

.nav-list {
  margin-left: 52px;
  display: flex;
}

.nav-list ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 4%;
}

.nav-list ul li {
  font-size: 18px;
  margin: 0 15px;
}

.nav-list ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  transition: color 0.3s;
}

.nav-list ul li a:hover {
  color: #97D700;
}

.book-by-phone-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
  width: 275px;
  height: 62px;
}

.phone-icon {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.phone-number, .book-now-letter {
  font-weight: 800;
  text-align: center;
  color: #97D700;
}

.phone-number {
  width: 100%;
  font-size: 23px;
}

.book-now-letter {
  width: 150px;
  font-size: 15px;
  line-height: 30px;
}
